<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDD8GX9uWCkYWy1gocs8N_rpQ-g5Di8orA</string>
	<key>GCM_SENDER_ID</key>
	<string>1018509370599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lthc.tccapp</string>
	<key>PROJECT_ID</key>
	<string>lthc-web</string>
	<key>STORAGE_BUCKET</key>
	<string>lthc-web.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018509370599:ios:e1f1055461cd9f16bc6e42</string>
</dict>
</plist>